packages:
    yum:
        polkit: []
        jq: []
        gcc: []
        python3-devel: []
        libcurl-devel: []
        openssl-devel: []
        libpq-devel: []

commands:
  01-wget:
    command: "wget -O /tmp/ffmpeg.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz"
  02-mkdir:
    command: "if [ ! -d /opt/ffmpeg ] ; then mkdir -p /opt/ffmpeg; fi"
  03-tar:
    command: "tar xvf /tmp/ffmpeg.tar.xz -C /opt/ffmpeg"
  04-chmod:
    command: "chmod -R 755 /opt/ffmpeg/ffmpeg-7.0-amd64-static"
  05-ln:
    command: "if [[ ! -f /usr/bin/ffmpeg ]] ; then ln -sf /opt/ffmpeg/ffmpeg-7.0-amd64-static/ffmpeg /usr/bin/ffmpeg; fi"
  06-ln:
    command: "if [[ ! -f /usr/bin/ffprobe ]] ; then ln -sf /opt/ffmpeg/ffmpeg-7.0-amd64-static/ffprobe /usr/bin/ffprobe; fi"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: agent.wsgi:application
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/health"
    MatcherHTTPCode: "200-399"

container_commands:
  00_get_env_vars:
    command: aws secretsmanager get-secret-value --secret-id cold-caller-api-$(/opt/elasticbeanstalk/bin/get-config environment -k ENVIRONMENT) --region us-east-2 | jq -r '.SecretString' | jq -r "to_entries|map(\"\(.key)=\\\"\(.value|tostring)\\\"\")|.[]" > .env
  01_migrate:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic --noinput"
    leader_only: true
  03_create_celery_log_file_directories:
    command: "mkdir -p /var/log/celery"
